 /* menu */

.sf-menu {display:inline-block; margin-top:30px;}

.sf-menu ul {position:absolute; top:-999px; display:none;}

.sf-menu li {position:relative; float:left; }

.sf-menu a {text-decoration:none; font-family:"Book Antiqua",Arial, "Times New Roman", Times, serif; font-weight:bold;}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:99}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;}



ul.sf-menu>li { display:inline-block; margin-left:15px;}

ul.sf-menu>li:first-child {margin-left:0;}

ul.sf-menu>li>a {font-size:13px; line-height:1em; color:#285962; text-transform:capitalize; display:block; position:relative; padding:5px 9px 10px 9px; color:#000;}

ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {}

ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover { color:#000;}



.sf-menu>li>ul { width:100px; background:url(../images/nav-ul.png) 0 0 repeat; left:0px; top:40px; padding:10px 10px 10px 10px; width:140px; }

.sf-menu>li>ul>li {display:block; width:100%; text-align:left; margin-top:10px; width:160px;}

.sf-menu>li>ul>li:first-child {margin-top:0;}

.sf-menu>li>ul>li>a { color:#000000; font-size:12px; line-height:15px; display:inline-block; font-weight:bold;}

.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{ }

.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:#0098BF;}



