<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="index.php" ignoreCase="false" />
                    <action type="Rewrite" url="website.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="index.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="index.htm" ignoreCase="false" />
                    <action type="Rewrite" url="website.htm" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="website.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
